<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>updateCart</servlet-name>
        <servlet-class>comprafy.cart.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>comprafy.cart.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUItem</servlet-name>
        <servlet-class>comprafy.cart.RemoveUItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>auth.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseSession</servlet-name>
        <servlet-class>auth.CloseSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>auth.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponderPregunta</servlet-name>
        <servlet-class>comprafy.forum.ResponderPregunta</servlet-class>
        <init-param>
            <param-name>idPregunta</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PublicarPregunta</servlet-name>
        <servlet-class>comprafy.forum.PublicarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPregunta</servlet-name>
        <servlet-class>comprafy.forum.EliminarPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPregunta</servlet-name>
        <servlet-class>comprafy.forum.ModificarPregunta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCart</servlet-name>
        <url-pattern>/update_cart.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/add_item.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUItem</servlet-name>
        <url-pattern>/remove_item.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseSession</servlet-name>
        <url-pattern>/sign_out.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login_post.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponderPregunta</servlet-name>
        <url-pattern>/respond.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicarPregunta</servlet-name>
        <url-pattern>/nueva_pregunta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPregunta</servlet-name>
        <url-pattern>/eliminar_pregunta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPregunta</servlet-name>
        <url-pattern>/modifiar_pregunta.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
